{# empty Twig template #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Book Store</title>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<meta http-equiv="cache-control" content="no-cache"></meta>
<meta charset="utf-8"></meta>
<meta name="viewport" content="initial-scale=1, maximum-scale=1"></meta>
<meta name="viewport" content="width=device-width"></meta>
<!-- Css Files Start -->
<link href="{{asset('css/style_personnalisé.css')}}" rel="stylesheet">
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" /><!-- All css -->
<link href="{{asset('css/bs.css')}}" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="{{asset('css/main-slider.css')}}" /><!-- Main Slider Css -->
<!--[if lte IE 10]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
<link href="{{asset('css/font-awesome.css"')}}" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
<link href="{{asset('css/font-awesome-ie7.css')}}" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
<noscript>
<link rel="stylesheet" type="text/css" href="{{asset('css/noJS.css')}}" />
</noscript>
<!-- Css Files End -->
 <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMjKGV-a0gQYCeYJCrdDT2JThpg9U4ydk
    &callback=initMap">
    </script>
    <script type="text/javascript">
    var map;
    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
   });
    }
    </script>
</head>
<body>
<!-- Start Main Wrapper -->
<div class="wrapper">
  <!-- Start Main Header -->
  <!-- Start Top Nav Bar -->
  <section class="top-nav-bar">
    <section class="container-fluid container">
      <section class="row-fluid">
        <section class="span6">
          <ul class="top-nav">
            <li><a href="{{path("smart_book_lecteur_Affichage")}}" class="active">Accueil</a></li>
            <li><a href="{{path("smart_book_lecteur_GererPub",{"id" :app.user.id})}}">Mes annonces</a></li>
             <li><a href="">Deposer annonce</a>
             <ul id="sous_liste">
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"echange"})}}">Annonce d'echange</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"vente"})}}">Annonce de vente</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"don"})}}">Annonce de Don</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"achat"})}}">Annonce d'achat</a></li>
             </ul>
           </li>
             <li><a href="{{path("smart_book_lecteur_AfficherLibraire")}}">Libraires</a></li>
            <li><a href="">Evenements</a>
                 <ul id="sous_liste_evenement">
		<li><a href="{{path("smart_book_lecteur_add",{"id" :app.user.id})}}">Lancer evenement</a></li>
		<li><a href="{{path("smart_book_lecteur_affiche")}}">Consulter les evenements</a></li>
		<li><a href="{{path("smart_book_lecteur_GererEven",{"id" :app.user.id})}}">Gérer les evenements</a></li>
		
             </ul>
            </li>
            <li><a href="{{path("smart_book_lecteur_Localisation")}}">Localisation</a></li>
                       
          </ul>
        </section>
        <section class="span6 e-commerce-list">
          <ul>
            <li>Bienvenue! <a href="">{{ app.user.username }}</a></li> 
             <li><a href="{{ path('fos_user_security_logout')}}">se déconnecter</a></li>    
          </ul>
          <div class="c-btn"> <a href="cart.html" class="cart-btn">Cart</a>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">0 item(s) - $0.00<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
  <!-- End Top Nav Bar -->
  <header id="main-header">
    <section class="container-fluid container">
      <section class="row-fluid">
        <section class="span4">
          <h1 id="logo"> <a href="index.html"><img src="{{asset('images/logo.png')}}" /></a> </h1>
        </section>
     
      </section>
    </section>
    <!-- Start Main Nav Bar -->
    <nav id="nav">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        
          <!--/.nav-collapse -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </nav>
    <!-- End Main Nav Bar -->
  </header>
  {% block contenu %}

  {% endblock %}
   
 
   
  <!-- End Footer Top 2 -->
  <!-- Start Main Footer -->
  <footer id="main-footer">
    <section class="social-ico-bar">
      <section class="container">
        <section class="row-fluid">
          <article class="span6">
            <p>© Le 352 Esprit 2015 </p>
          </article>
          <article class="span6 copy-right">
            <p>Designed by <a href="">Le352.com</a></p>
          </article>
        </section>
      </section>
    </section>
  </footer>
<!-- End Main Wrapper -->
<!-- JS Files Start -->
<script type="text/javascript" src="{{asset('js/lib.js')}}"></script><!-- lib Js -->
<script type="text/javascript" src="{{asset('js/modernizr.js')}}"></script><!-- Modernizr -->
<script type="text/javascript" src="{{asset('js/easing.js')}}"></script><!-- Easing js -->
<script type="text/javascript" src="{{asset('js/bs.js')}}"></script><!-- Bootstrap -->
<script type="text/javascript" src="{{asset('js/bxslider.js')}}"></script><!-- BX Slider -->
<script type="text/javascript" src="{{asset('js/input-clear.js')}}"></script><!-- Input Clear -->
<script src="{{asset('js/range-slider.js')}}"></script><!-- Range Slider -->
<script src="{{asset('js/jquery.zoom.js')}}"></script><!-- Zoom Effect -->
<script type="text/javascript" src="{{asset('js/bookblock.js')}}"></script><!-- Flip Slider -->
<script type="text/javascript" src="{{asset('js/custom.js')}}"></script><!-- Custom js -->
<script type="text/javascript" src="{{asset('js/social.js')}}"></script><!-- Social Icons -->
<!-- JS Files End -->
<noscript>
<style>
	#socialicons>a span { top: 0px; left: -100%; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s 	ease-in-out;}
	#socialicons>ahover div{left: 0px;}
	</style>
</noscript>
<script type="text/javascript">
  /* <![CDATA[ */
  $(document).ready(function() {
  $('.social_active').hoverdir( {} );
})
/* ]]> */
</script>
</body>
</html>
