{# empty Twig template #}
<!DOCTYPE html>
<html>
  <head>
    <title>Book Store</title>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!-- Css Files Start -->
<link href="{{asset('css/style_personnalisé.css')}}" rel="stylesheet">
<link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" /><!-- All css -->
<link href="{{asset('css/bs.css')}}" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="{{asset('css/main-slider.css')}}" /><!-- Main Slider Css -->
<!--[if lte IE 10]><link rel="stylesheet" type="text/css" href="css/customIE.css" /><![endif]-->
<link href="{{asset('css/font-awesome.css"')}}" rel="stylesheet" type="text/css" /><!-- Font Awesome Css -->
<link href="{{asset('css/font-awesome-ie7.css')}}" rel="stylesheet" type="text/css" /><!-- Font Awesome iE7 Css -->
<noscript>
<link rel="stylesheet" type="text/css" href="{{asset('css/noJS.css')}}" />
</noscript>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMjKGV-a0gQYCeYJCrdDT2JThpg9U4ydk
      &callback=initMap">
    </script>
    <script type="text/javascript">
    
    function initMap() {
    var myLatLng = {lat:36.7948829, lng: 10.1432776};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
     });
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Vous étes ici!'
  });
    }
    
    function AfficheLibs() {
    //var lng = parseFloat("554,20".replace(",", "."));
    var myLatLng = {lat:parseFloat(document.getElementById("longtitude").value), lng:parseFloat(document.getElementById("latitude").value)};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
    
     });
    var infowindow = new google.maps.InfoWindow({
    content:"Adresse:"+document.getElementById("adresse").value
     });
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    animation:google.maps.Animation.BOUNCE
    }); 
   google.maps.event.addListener(marker, 'click', function() {
   infowindow.open(map,marker);
    });
  
    }
    
    </script>
  </head>
  {%  block contenu %}
  
   
     {% endblock %}
      <div id="map"></div>
    
     <footer id="main-footer">
    <section class="social-ico-bar">
      <section class="container">
        <section class="row-fluid">
          <article class="span6">
            <p>© Le 352 Esprit 2015 </p>
          </article>
          <article class="span6 copy-right">
            <p>Designed by <a href="">Le352.com</a></p>
          </article>
        </section>
      </section>
    </section>
  </footer>  
  </body>
  
</html>