{# empty Twig template #}
{# Ressources/views/Livre/ajout.thml.twig #}
{% extends "SmartBookLecteurBundle::compte_libraire.html.twig" %}

{% block contenu %}
    <center>
    <h2>Formulaire d'ajout d'un Livre </h2>
    </center>
    <center>
    <form method="POST" action=""> 
   
        <table border="0" cellpadding="15">
   <tr>
       <td><label><i>Nom du Livre</i></label></td>
       <td><input name="noml" type="text"/></td>
   </tr>
   <tr>
       <td><label><i>Image du Livre</i></label></td>
       <td><input name="image" type="file" style="width:310px"/></td>
   </tr>
   <tr>
       <td><label><i>Nom d'auteur du Livre</i></label></td>
       <td><input name="auteur" type="text" /></td>
   </tr>
   <tr>
       <td><label><i>Langue du Livre</i></label></td>
      <td>
          
      <select name="langue" style="width:310px">
       <option value="Arabe" >Arabe</option> 
       <option value="Francais" >Francais</option>
       <option value="Anglais">Anglais</option>
       </select>
          </td>
       
   <tr>
       <td><label><i>Prix du Livre</i></label></td>
       <td><input  name="prix" type="number"/></td>
   </tr>
   <tr>
       <td><label><i>Nombre des pages du Livre</i></label></td>
       <td><input name="nbrp" type="number"/></td>
   </tr>
   <tr>
       <td><label><i>Date Edition</i></label></td>
       <td><input name="date" type="date" style="width:310px"/></td>
   </tr>
   <tr>
       <td><label><i>Etat du Livre</i></label></td>
       <td> 
      <select name="etat" style="width:310px">
       <option value="Bonne" selected>Bonne</option> 
       <option value="mauvaise" selected>Mauvaise</option>
       </select>
       </td>
   </tr>
   <tr>
       <td><label><i>Categorie du Livre</i></label></td>
       <td>
           <select name="categorie" style="width:310px">
       <option value="Sport" selected>Sport</option> 
       <option value="Cuisine" selected>Cuisine</option>
       <option value="Culture" selected>Culture</option>
       <option value="Art" selected>Art</option>
       <option value="Santé" selected>Santé</option>
       <option value="Sciences" selected>Sciences</option>
       
       </select>
       </td>
   </tr>
  
   <tr>
       <td>
     <input type='submit' value="Ajouter" style="width:130px"/>
       </td>
   <td>
     <input type='reset' value="Annuler" style="width:130px"/>
       </td><br>
    </tr>
    
    </table>
</center>     
    {% endblock %}
    

