{# empty Twig template #}
{% extends "SmartBookLecteurBundle::compte_libraire.html.twig" %}
{% block contenu %}
    <center><h1> Liste des Livres </h1></center>
    <center>
    <table border=1>
    <tr>
        <th>identifiant</th>
        <th>Nom du Livre</th>
        <th>Nom d'auteur du Livre</th>
        <th>Langue du Livre</th>
        <th>Prix du Livre</th>
        <th>Nombre des pages du Livre</th>
         <th>Date Edition</th>
         <th>Etat du Livre</th>
         <th>Categorie du Livre</th>
         <th>Modifier</th>
         <th>Supprimer</th>


    </tr>  
    {% for Livre in livres %}
        <tr>
           <td>{{Livre.idL }}</td>
            <td>{{Livre.nomLivre }}</td>
            <td>{{Livre.auteur }}</td>
            <td>{{Livre.langue}}</td>
            <td>{{Livre.prix}}</td>
            <td>{{Livre.nbrPages}}</td>
            <td>{{Livre.dateEdition}}</td>
            <td>{{Livre.etat}}</td>
            <td>{{Livre.categorie}}</td>
            <td>
            <a href="{{path('smart_book_livre_Delete' , {'idL':Livre.idL})}}"> Delete </a>
            </td>
            <td>
             <a href="{{path('Smart_book_livre_Update' , {'idL':Livre.idL})}}">Modifier </a>
             </td>
             </tr>
        {% endfor %}
</table>
    </center>
 {% endblock %}
    