{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
    <section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
     
    	<div class="heading-bar">
        	<h2>Livres</h2>         
           </div>
          {% if livres ==null %}
        <center><h1 class="titre_annonce">Aucun Livre</h1> </center>
        {% else %}
          {% for i in 0..livres|length-1 %}
          <section class="list-holder">
            	<article class="item-holder">
                	<div class="span2">
                    	<a href="book-detail.html"><img src="{{asset(['uploads/livres/',livres[i].getImageL()]|join )}}" alt="Image07" /></a> </div>
                    <div class="span10">
                    	<div class="title-bar"><a href="">{{livres[i].getNomLivre()}}</a></div>
                        <strong>Auteur</strong>
                        <p>{{livres[i].getAuteur()}}</p>
                        <strong>Langue</strong>
                        <p>{{livres[i].getLangue()}}</p>          
                        <strong>Date edition</strong>
                        <p>{{livres[i].getDateEdition()}}</p>
                        <strong>Nombre des pages</strong>
                        <p>{{livres[i].getNbrPages()}}</p>
                         <strong>Prix</strong>
                        <p>{{livres[i].getPrix()}}</p>
                         <a href="" class="shop-btn">Ses livres</a>
                        </div>
                    
                </article>
          </section>
          {% endfor %}
        {% endif %}
        </section>
        </section>
    {% endblock %}
