{% extends "SmartBookLecteurBundle::compte_libraire.html.twig" %}
{% block contenu %}
    <center><h1>Recherche Livre</h1></center>
    <center>
    <form method="POST">
    Nom du Livre : <input type="text" name="nomLivre"><br>
    Etat du Livre : <input type="text" name="etat"><br>
    <input type="submit" value="rechercher">
   </form>
    </center>
{% endblock %}