{# empty Twig template #}
{% extends "SmartBookLecteurBundle::compte_libraire.html.twig" %}
{% block contenu %}
    <center><h1> Resultat des Livres </h1></center>
    <center>
    <table border=1>
    <tr>
       
        <th>Nom du Livre</th>
        <th>Nom d'auteur du Livre</th>
        <th>Langue du Livre</th>
        <th>Prix du Livre</th>
        <th>Nombre des pages du Livre</th>
         <th>Date Edition</th>
         <th>Etat du Livre</th>
         <th>Categorie du Livre</th>
    </tr>  
    {% for livre in livres %}
        <tr>
          
            <td>{{livre.nomLivre }}</td>
            <td>{{livre.auteur }}</td>
            <td>{{livre.langue}}</td>
            <td>{{livre.prix}}</td>
            <td>{{livre.nbrPages}}</td>
            <td>{{livre.dateEdition}}</td>
            <td>{{livre.etat}}</td>
            <td>{{livre.categorie}}</td>
            <td>
    {% endfor %}
</table>
    </center>
{% endblock %}
    
