


{# empty Twig template #}
{# Ressources/views/Livre/ajout.thml.twig #}
{% extends "SmartBookLecteurBundle::compte_libraire.html.twig" %}

{% block contenu %}
    <center>
    <h1>Mise à jour </h1>
    </center>
    <center>
    <form method="POST"> 
   
        <table border="0" cellpadding="15">
   <tr>
       <td><label>Nom du Livre</label></td>
       <td><input name="noml" type="text" value="{{l.getNomLivre()}}" required/></td>
   </tr>
   <tr>
      <td><label>Image du Livre</label></td>
       <td><input name="image" type="file" style="width:310px" required/></td>
   </tr>
   <tr>
      <td><label>Nom d'auteur du Livre</label></td>
       <td><input name="auteur" type="text" value="{{l.getAuteur()}}" required/></td>
   </tr>
   <tr>
      <td><label>Langue du Livre</label></td>
       <td><input name="langue" type="text" value="{{l.getLangue()}}" required/></td>
   </tr>
   <tr>
      <td><label>Prix du Livre</label></td>
       <td><input  name="prix" type="number" value="{{l.getPrix()}}" required/></td>
   </tr>
   <tr>
      <td><label>Nombre des pages du Livre</label></td>
       <td><input name="nbrp" type="number" value="{{l.getNbrPages()}}" required/></td>
   </tr>
   <tr>
      <td><label>Date Edition</label></td>
       <td><input name="date" type="date" style="width:310px" value="{{l.getDateEdition()}}" required/></td>
   </tr>
   <tr>
      <td><label>Etat du Livre</label></td>
       <td><input name="etat" type="text" value="{{l.getEtat()}}" required/></td>
   </tr>
   <tr>
      <td><label>Categorie du Livre</label></td>
       <td><input name="categorie" type="text" value="{{l.getCategorie()}}" required/></td>
   </tr>
        </table><br>
        <table>
   <tr>
       <td align="left">
           <input type='submit' value="Modifier" style="width:130px"/>
           
       </td>
   </tr>
</table>
    </center>
        
    {% endblock %}
    


