{# empty Twig template #}
{%extends "SmartBookLecteurBundle::map.html.twig" %}
{% block contenu %}
     
 <body onload="AfficheLibs()">
  <div class="wrapper">
  <!-- Start Main Header -->
  <!-- Start Top Nav Bar -->
  <section class="top-nav-bar">
    <section class="container-fluid container">
      <section class="row-fluid">
        <section class="span6">
                <ul class="top-nav">
            <li><a href="{{path("smart_book_lecteur_Affichage")}}" class="active">Accueil</a></li>
            <li><a href="{{path("smart_book_lecteur_GererPub",{"id" :app.user.id})}}">Mes annonces</a></li>
             <li><a href="">Deposer annonce</a>
             <ul id="sous_liste">
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"echange"})}}">Annonce d'echange</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"vente"})}}">Annonce de vente</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"don"})}}">Annonce de Don</a></li>
		<li><a href="{{path("smart_book_lecteur_Deposer",{"id" :app.user.id,"type":"achat"})}}">Annonce d'achat</a></li>
             </ul>
           </li>
             <li><a href="{{path("smart_book_lecteur_AfficherLibraire")}}">Libraires</a></li>
            <li><a href="">Evenements</a>
                 <ul id="sous_liste_evenement">
		<li><a href="{{path("smart_book_lecteur_add",{"id" :app.user.id})}}">Lancer evenement</a></li>
		<li><a href="{{path("smart_book_lecteur_affiche")}}">Consulter les evenements</a></li>
		<li><a href="{{path("smart_book_lecteur_GererEven",{"id" :app.user.id})}}">Gérer les evenements</a></li>
		
             </ul>
            </li>
            <li><a href="{{path("smart_book_lecteur_Localisation")}}">Localisation</a></li>
                       
          </ul>
        </section>
        <section class="span6 e-commerce-list">
          <ul>
            <li>Bienvenue! <a href="checkout.html">Login</a> or <a href="checkout.html">Creer compte</a></li>         
          </ul>
          <div class="c-btn"> <a href="cart.html" class="cart-btn">Cart</a>
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">0 item(s) - $0.00<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
      </div>
    <input type="hidden" id="longtitude" value="{{librairie. getLogtitude()}}" />
    <input type="hidden" id="latitude" value="{{librairie.getLatitude()}}" /> 
    <input type="hidden" id="adresse" value="{{librairie.getAdresse()}}" /> 
    {% endblock %}
  
   