{# src/SmartBook/LecteurBundle/Resources/views/Utilisateur/ajouter.html.twig#}
 

{% extends "SmartBookLecteurBundle::layout6.html.twig" %}
 
 
{% block contenu %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Gestion des Utilisateurs</h1>
 
  <hr>
  <h2>Envoyer une Reclamtion  </h2>
 
  {% include "SmartBookLecteurBundle:Utilisateur:formulaire.html.twig" %}
 
  
  
 
{% endblock %}