{# src/SmartBook/LecteurBundle/Resources/views/Utilisateur/formulaire.html.twig #}
 

 
<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
