{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
    <section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
     
    	<div class="heading-bar">
        	<h2>Libraires</h2>         
           </div>
          {% for i in 0..libraires|length-1 %}
          <section class="list-holder">
           <article class="item-holder">
              <div class="span2">
                <a href="book-detail.html"><img src="{{asset(['uploads/utilisateurs/',libraires[i].getImage()]|join )}}" alt="Image07" /></a> </div>
                   <div class="span10">
                   <div class="title-bar"><a href="">{{libraires[i].getNom()}}</a></div>
                     <strong>Numero télephone</strong>
                      <p>{{libraires[i].getNumTel()}}</p>
                      <strong>Email</strong>
                       <p>{{libraires[i].getEmail()}}</p>          
                       <strong>Adresse</strong>
                       <p>{{libraires[i].getAdresse()}}</p>
                       <a href="{{path("smart_book_livre_afficheLibraire",{"id" :libraires[i].getId()})}}" class="shop-btn">Ses livres</a>
                  </div>
                    
                </article>
          </section>
          {% endfor %}
        </section>
        </section>
    {% endblock %}
