{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout6.html.twig" %}

{%  block contenu  %} 
<h1>liste des utilisateurs</h1>

<table border="1">
    <tr>
        <th> Id </th>

        <th> nom </th>
        <th> username </th>

        <th> prenom </th>
        <th> sexe </th>	
        <th> adresse </th>
        <th> numTel </th>
        <th> dateNaissance </th>	

        <th> etatCompte </th>	
        <th> etatInscription</th>	
        <th> nbrSignale</th>	
        
        

        <th> Réclamtion Administrative </th>
    </tr>
    
    {% for utilisateur in utilisateurs %}
    <tr>
        <th>{{utilisateur.id}}</th>

        <th>{{utilisateur.nom}}</th>
        <th>{{utilisateur.username}}</th>

        <th>{{utilisateur.prenom}}</th>
        <th>{{utilisateur.sexe}}</th>
        <th>{{utilisateur.adresse}}</th>
        <th>{{utilisateur.numTel}}</th>
        <th>{{utilisateur.dateNaissance}}</th>
        <th>{{utilisateur.etatCompte}}</th>
        <th>{{utilisateur.etatInscription}}</th>
        <th>{{utilisateur.nbrSignale}}</th>
  <th><a href="{{path("smart_book_reclame_utilisateur", {'id':utilisateur.id })}}">Reclamer</a> </th>





    </tr>
    {% endfor %}

</table>
{% endblock %}