{# empty Twig template #} 
{% extends "SmartBookLecteurBundle::layout6.html.twig" %}
{% block contenu %}
    <center>
    <h1>Résultat recherche</h1>
    <table border="1"> 
        <tr>
           <th> Id </th>

        <th> nom </th>
        <th> username </th>

        <th> prenom </th>
        <th> sexe </th>	
        <th> adresse </th>
        <th> numTel </th>
        <th> dateNaissance </th>	

        <th> etatCompte </th>	
        <th> etatInscription</th>	
        <th> nbrSignale</th>	
        
        
    </tr>
        </tr> 
        {% for e in utilisateur %} 
        <th>{{e.id}}</th>

        <th>{{e.nom}}</th>
        <th>{{e.username}}</th>

        <th>{{e.prenom}}</th>
        <th>{{e.sexe}}</th>
        <th>{{e.adresse}}</th>
        <th>{{e.numTel}}</th>
        <th>{{e.dateNaissance}}</th>
        <th>{{e.etatCompte}}</th>
        <th>{{e.etatInscription}}</th>
        <th>{{e.nbrSignale}}</th>

        {% endfor %}
        </table> 
    </center>
{% endblock %}