{# empty Twig template #} 
{% extends "SmartBookLecteurBundle::layout6.html.twig" %} 
{% block contenu %} 
    <center>
    <h1>Recherche Utilisateur</h1>
    <form method="POST"> id : <input type="text" name="id"> 
        <input type="submit" value="recherche"> </form></center>
{% endblock %}