{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}

{% block contenu %} 
   
    <center> <h1 class="titre_annonce">Annonce {{type}}</h1></center>
    {% if type == "achat" %}
     <center><div id="form_pub">
        <form action="" method="post">
      <table>
          <tr>
              <td>Titre :</td>
              <td><input type="text" name="titre"></td>            
          </tr>
          <tr>
              <td>Texte annonnce :</td>
              <td><textarea name="presentation"/></textarea></td>            
          </tr>                 
          <tr>
              <td><button type="submit" id="btn_form">Publier</button></td>
              <td><button type="reset" id="btn_form">Annuler</button></td>            
          </tr>
      </table>     
  </form>
  </div>
    </center>
     {% elseif  type!="achat"%}
     
    <center><div id="form_pub">
  <form action="" method="post">
      <table>
          <tr>
              <td>Titre :</td>
              <td><input type="text" name="titre"></td>            
          </tr>
          <tr>
              <td>Texte annonnce :</td>
              <td><textarea name="presentation"/></textarea></td>            
          </tr>
              
          <tr>
              <td>Nom livre :</td>
              <td><input type="text" name="noml"></td>            
          </tr>
          <tr>
              <td>Auteur :</td>
              <td><input type="text" name="auteur"></td>            
          </tr>
          <tr>
              <td>Langue :</td>
              <td><select name="langue">
                      <option value="Arabe">Arabe</option>
                      <option value="Francais">Français</option>
                      <option value="Anglais">Anglais</option>
                  </select></td>            
          </tr>
          <tr>
              <td>Prix :</td>
              <td><input type="number" name="prix"></td>  
              <td> DT</td>
          </tr>
          <tr>
              <td>Nombre des pages </td>
              <td><input type="number" name="nbrp"></td>            
          </tr>
          <tr>
              <td>Date edition :</td>
              <td><input type="date" name="datee"></td>            
          </tr>
          <tr>
              <td>Etat :</td>
              <td><input type="text" name="etat"></td>            
          </tr>
          <tr>
              <td>Categorie</td>
              <td><select name="categorie">
                      <option value="Politique">Politique</option>
                      <option value="Sciences">Sciences</option>
                      <option value="Art">Art</option>
                      <option value="Theatre ">Theatre</option>
                      <option value="Sport">Sport</option>
                      <option value="Cuisine">Cuisine</option>
                  </select></td>            
          </tr>
          <tr>
              <td>Photo livre :</td>
              <td><input type="file" name="image"></td>            
          </tr>     
          <tr>
              <td><button type="submit" id="btn_form">Publier</button></td>
              <td><button type="reset" id="btn_form">Annuler</button></td>            
          </tr>
      </table>
      
  </form>
  </div>
    </center>
      {% endif %}
    {% endblock %}
