{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
     <section class="b-detail-holder">
         <article class="title-holder">
             <div class="span6">
               <h4><strong>Publier par </strong>{{pub.getUtilisateur().getNom()}}</h4>
                <h4><strong>De </strong>{{pub.getUtilisateur().getAdresse()}}</h4>
           </div>
       <div class="span6 book-d-nav">
             <ul>                        	
               <li><i class="icon-envelope"></i><a href="{{path("smart_book_lecteur_Email",{"touser" :pub.getUtilisateur().getEmail()})}}">{{pub.getUtilisateur().getEmail()}}</a></li>
            </ul>
        </div>
            
     </article>
       <div class="book-i-caption">
                <!-- Strat Book Image Section -->
          <div class="span6 b-img-holder">
       <span class='zoom' id='ex1'><img src="{{ asset(['uploads/livres/',pub.getLivre().getImageL()]|join )}}" height="219" width="300" id='jack' alt=''/></span>
      </div>
                <!-- Strat Book Image Section -->
                
                <!-- Strat Book Overview Section -->    
        <div class="span6">
      <strong class="title">{{pub.getLivre().getNomLivre()}}</strong>
       	<p>{{pub.getPresentation()}}</p>  
        <strong class="title">Auteur :</strong>
        <p>{{pub.getLivre().getAuteur()}}</p> 
        <strong class="title">Langue :</strong>
        <p>{{pub.getLivre().getLangue()}}</p> 
         <strong class="title">Etat :</strong>
        <p>{{pub.getLivre().getEtat()}}</p>       
         <strong class="title">Prix :</strong>
        <p>{{pub.getLivre().getPrix()}}</p> 
         <strong class="title">Nombre des pages :</strong>
        <p>{{pub.getLivre().getNbrPages()}}</p> 
         <strong class="title">Type publication :</strong>
        <p>{{pub.getType()}}</p> 
        <strong class="title">{{ socialButtons() }}
                 </strong>
        
                      
                   </div>
                <!-- End Book Overview Section -->
                </div>
      		  </section>       
{% endblock %}
    
   