{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
    {% if publications ==null %}
        <center><h1 class="titre_annonce">Aucune annonce est publié</h1> </center>
    {% else %}
    <center>
    <div id="div_titre">
    <h1 class="titre_annonce">Mes annonces</h1>
    </div>
     <table class="tab_pubs" border="1">
        <tr>
            <td class="td_pubs">Titre</td>
            <td class="td_pubs">Type </td>
            <td class="td_pubs">Date annonce </td>
            <td class="td_pubs">Texte Annonce</td>
            <td class="td_pubs">Nom Livre </td>
            <td class="td_pubs">Supprimer</td>
            <td class="td_pubs">Modifier</td>            
        </tr>
       {% for pub in publications %}
           <tr>
               <td class="td_data">{{pub.getTitre()}}</td> 
                <td class="td_data">{{pub.getType()}}</td>  
                <td class="td_data">{{pub.getDatePub()}}</td>  
                <td class="td_data">{{pub.getPresentation()}}</td> 
                <td class="td_data">{{pub.getLivre().getNomLivre()}}</td> 
                <td class="td_data"><a href="{{path("smart_book_lecteur_Sup_Pub",{"id" :pub.getIdP(),"userid":38})}}"><img src="{{asset('images/annuler.png')}}" alt="1"></a></td> 
                <td class="td_data"><a href="{{path("smart_book_lecteur_ModifPub",{"id" :pub.getIdP(),"type":pub.getType(),"userid":38})}}"><img src="{{asset('images/modifier.png')}}" alt="1"></a></td>               
           </tr>
           
       {% endfor %}
    </table>
    </center>
     {% endif %}
{% endblock %}
