{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
 <section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
      <section class="span12 slider">
        <section class="main-slider">
          <div class="bb-custom-wrapper">
            <div id="bb-bookblock" class="bb-bookblock">
                  {% for i in publications|length-1..0 %}
                <div class="bb-item">            
                <div class="bb-custom-content">
                  <div class="slide-inner">
                    <div class="span4 book-holder"> <a href="book-detail.html"><img src="{{asset(['uploads/livres/',publications[i].getLivre().getImageL()]|join )}}" alt="Book" /></a>
                      <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">{{publications[i].getLivre().getPrix()}} DT</span> </div>
                    </div>
                     
                    <div class="span8 book-detail">
                      <h2>{{publications[i].getTitre()}}</h2>
                      <strong class="title">{{publications[i].getLivre().getNomLivre()}}</strong> <span class="rating-bar"> <img src="{{asset('images/raing-star2.png')}}" alt="Rating Star" /> </span> 
                        <a href="{{path("smart_book_lecteur_DetailPub",{"id" :publications[i].getIdP()})}}" class="shop-btn">Plus information</a> 
                      <div class="cap-holder">
                        <p><img src="{{asset('images/image27.png')}}" alt="Best Choice" align="right"/>{{publications[i].getPresentation()}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             {% endfor %}
                          
            </div>
          </div>
          <nav class="bb-custom-nav"> <a href="#" id="bb-nav-prev" class="left-arrow">Previous</a> <a href="#" id="bb-nav-next" class="right-arrow">Next</a> </nav>
        </section>
        <span class="slider-bottom"><img src="{{asset('images/slider-bg.png')}}" alt="Shadow"/></span> </section>
      <section class="span12 wellcome-msg m-bottom first">
        <h2>Bienvenue chez SmartBook store.</h2>
        <p>Plateforme pour partage nos lectures et nos ecritures</p>
      </section>
    </section>
   
    
    <section class="row-fluid features-books">
      <section class="span12 m-bottom">
        <div class="heading-bar">
          <h2>Autres publications</h2>
          <span class="h-line"></span> </div>
          <center> <div class="slider1">
           {% for i in 0..publications|length-1 %}
          <div class="slide"> <a href="{{path("smart_book_lecteur_DetailPub",{"id" :publications[i].getIdP()})}}"><img src="{{ asset(['uploads/livres/',publications[i].getLivre().getImageL()]|join ) }}" alt="" class="pro-img"/>{{publications[i].getLivre().getNomLivre()}}</a> <span class="title"><a href="{{path("smart_book_lecteur_DetailPub",{"id" :publications[i].getIdP()})}}">{{publications[i].getLivre().getAuteur()}}</a></span> <span class="rating-bar"><img src="{{asset('images/rating-star.png')}}" alt="Rating Star"/></span>
            <div class="cart-price"> <a class="cart-btn2" href="">Add to Cart</a> <span class="price">{{publications[i].getLivre().getPrix()}} DT</span> </div>
          </div>
          {% endfor %}         
        </div>
        </center>
      </section>
    </section>
 </section>
{% endblock %}