{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}

{% block contenu %} 
   
    <center><h1 class="titre_annonce"> Modifier annonce</h1></center>
    {% if type == "achat" %}
     <center><div id="form_pub">
        <form action="" method="post">
      <table>
          <tr>
              <td>Titre :</td>
              <td><input type="text" name="titre" value="{{pub.getTitre()}}" required></td>            
          </tr>
          <tr>
              <td>Texte annonnce :</td>
              <td><textarea name="presentation" required/>{{pub.getPresentation()}}</textarea></td>            
          </tr>                 
          <tr>
              <td><button type="submit" id="btn_form">Publier</button></td>
              <td><button type="reset" id="btn_form">Annuler</button></td>            
          </tr>
      </table>     
  </form>
  </div>
    </center>
     {% elseif  type!="achat"%}
     
    <center><div id="form_pub">
  <form action="" method="post">
      <table>
          <tr>
              <td>Titre :</td>
              <td><input type="text" name="titre" value="{{pub.getTitre()}}" required></td>            
          </tr>
          <tr>
              <td>Texte annonnce :</td>
              <td><textarea name="presentation" required/>{{pub.getPresentation()}}</textarea></td>            
          </tr>
              
          <tr>
              <td>Nom livre :</td>
              <td><input type="text" name="noml" value="{{pub.getLivre().getNomLivre()}}" required></td>            
          </tr>
          <tr>
              <td>Auteur :</td>
              <td><input type="text" name="auteur" value="{{pub.getLivre().getAuteur()}}" required></td>            
          </tr>
          <tr>
              <td>Langue :</td>
              <td><select name="langue">
                      <option value="Arabe">Arabe</option>
                      <option value="Francais">Français</option>
                      <option value="Anglais">Anglais</option>
                  </select></td>            
          </tr>
              <td>Prix :</td>
              <td><input type="text" name="prix" value="{{pub.getLivre().getPrix()}}" required ></td>  
              <td> DT</td>
          </tr>
          <tr>
              <td>Nombre des pages </td>
              <td><input type="text" name="nbrp" value="{{pub.getLivre().getNbrPages()}}" required ></td>            
          </tr>
          <tr>
              <td>Date edition :</td>
              <td><input type="date" name="datee"></td>            
          </tr>
          <tr>
              <td>Etat :</td>
              <td><input type="text" name="etat" value="{{pub.getLivre().getEtat()}}" required></td>            
          </tr>
          <tr>
              <td>Categorie</td>
              <td><select name="categorie" required>
                      <option value="Politique">Politique</option>
                      <option value="Sciences">Sciences</option>
                      <option value="Art">Art</option>
                      <option value="Theatre ">Theatre</option>
                      <option value="Sport">Sport</option>
                      <option value="Cuisine">Cuisine</option>
                  </select></td>            
          </tr>
          <tr>
              <td>Photo livre :</td>
              <td><input type="file" name="image"></td>            
          </tr>     
          <tr>
              <td><button type="submit" id="btn_form">Modifier</button></td>
              <td><button type="reset" id="btn_form">Annuler</button></td>            
          </tr>
      </table>
      
  </form>
  </div>
    </center>
      {% endif %}
    {% endblock %}

