{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
<body>
    
    <center> <h3><p> Contacter nous </p></h3></center>
    <p>{{form_errors(form)}}</p> 
    <hr> 
    <center>
    <form role="form" id="fr" method="POST" action='' > 
        <table>
            <tr> 
           <td>NOM:</td>  
           <td>{{form_widget(form.nom)}} </td>
           </tr>
            <tr> 
           <td>PRENOM:</td>  
           <td>{{form_widget(form.prenom)}} </td>
           </tr>
            <tr> 
           <td>TEL:</td>  
           <td>{{form_widget(form.tel)}} </td>
           </tr>
            <tr> 
           <td>FROM:</td>  
           <td>{{form_widget(form.from)}} </td>
           </tr>
            <tr> 
           <td>TEXT:</td>  
           <td>{{form_widget(form.text)}} </td>
            </tr>
        </table>
            <br>
            <input type="submit" value="VALIDER"/>
            {{form_rest(form)}}
    </form>
    </center>
</body>
{% endblock %}