{# empty Twig template #}

{% extends "SmartBookLecteurBundle::layout2.html.twig" %}

{% block contenu %}
    <center> 
    <form method="POST" action=""> 
        <table border="0" cellpadding="15">
   <tr>
       <td><label><b>date_evenement</b></label></td>
       <td><input type="date" name="date_evenement" required/></td>
   </tr>
   <tr>
       <td><label><b>titre</b></label></td>
       <td><input type="text" name="titre" required/></td>
   </tr>    
   <tr>
       <td><label><b>Duree</b></label></td>
       <td><input type="number" name="Duree" required/></td>
       <td><b>Minutes<b></td>
   </tr>
   <tr>
       <td><label><b>Lieu</b></label></td>
       <td><input type="text" name="lieu" required/></td>
   </tr>
   <tr>
       <td><label><b>Description</b></label></td>
       <td><textarea name="description" required></textarea></td>
   </tr>
   <tr>
       <td><label><b>Image evenement</b></label></td>
       <td><input type="file" name="image" style="width:310px" required/></td>
   </tr>
     
   <tr>
       <td align="left">
           <input type='submit' value="Ajouter" style="width:130px"/>
           
       </td>
   </tr>
</table>
    </form>     
    {% endblock %}