{# empty Twig template #}

{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
    
        <h1>{{evenement.dateevent}}</H1>
        <h1>{{evenement.titre}}</H1>
 
 {% endblock %}