{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
     {% if evenements ==null %}
        <center><h1 class="titre_annonce">Aucune annonce est publié</h1> </center>
    {% else %}
    <center><h1>liste des evenement</h1></center>
<center>
<table border="1">
    <tr>
        
        <th>Date evenement</th>
        <th>Titre </th>
        <th>Organisateur</th>
        <th>Duree</th>
        <th>Lieu</th>
        <th>Description</th>               
        <th>Supprimer</th>     
        <th>Modifier</th>
        <th>Genere PDF</th>
       
               
    </tr>
    {% for e in evenements %}
    <tr>
        
        <td>{{e.dateEvent}}</td>
        <td>{{e.titre}}</td>
        <td>{{e.utilisateur.getNom()}}</td>
        <td>{{e.dureeEve}}</td>
        <td>{{e.lieuEve}}</td>
        <td>{{e.descriptionEve}}</td>  
        <td>
            <a href="{{path('smart_book_lecteur_delete' , {'id_e' : e.idE,"userid":38})}}"><button>Supprimer</button> </a>
        </td>
                       
         <td>
             <a href="{{path('smart_book_lecteur_update' , {'id_e' : e.idE,"userid":38})}}"><button>Modifier</button> </a>
         </td>
         <td>
             <a href="{{path('smart_book_lecteur_pdf', {'id' : e.idE})}}" ><button>PDF</button> </a>
         </td>
         
         
        
    </tr>
    {% endfor %}
    {% endif %}
</table>
</center>


        

        
          
  {% endblock %}
  