{# empty Twig template #}
{# empty Twig template #}
{% extends "SmartBookLecteurBundle::layout2.html.twig" %}
{% block contenu %}
    <section id="content-holder" class="container-fluid container">
    <section class="row-fluid">
     
    	<div class="heading-bar">
        	<h2>Evenements</h2>         
           </div>
          {% for i in evenements|length-1..0 %}
          <section class="list-holder">
            	<article class="item-holder">
                	<div class="span2">
                    	<a href="book-detail.html"><img src="{{asset(['uploads/evenements/',evenements[i].getImage()]|join )}}" alt="Image07" /></a> </div>
                    <div class="span10">
                    	<div class="title-bar"><a href="">Titre evenement</a></div>
                        <strong>Titre evenements</strong>
                        <p>{{evenements[i].getTitre()}}</p>
                        <strong>Lieu</strong>
                        <p>{{evenements[i].getLieuEve()}}</p>          
                        <strong>Durée</strong>
                        <p>{{evenements[i].getDureeEve()}} minutes</p>
                        <strong>Nombre des particiapant</strong>
                        <p>{{evenements[i].getNbrParticipant()}}</p>
          
                        <a href="{{path('smart_book_lecteur_participer',{'id_e' : evenements[i].getIdE()})}}" class="shop-btn">Participer</a>
                        </div>
                    
                </article>
          </section>
          {% endfor %}
        </section>
        </section>
    {% endblock %}

