{# empty Twig template #}

{% extends "SmartBookLecteurBundle::layout.html.twig" %}
{% block content %}
    
<h1>Recherche Evenement</h1>
<form method="POST">
    titre : <input type="text" name="titre">
    <input type="submit" value="recherche">
</form>
{% endblock %}