{# empty Twig template #}

{% extends "SmartBookLecteurBundle::layout.html.twig" %}
{% block content %}
    
<h1>Résultat recherche</h1>
<table border="1">
    <tr>
       
         <td>date_evenement</td>
        <td>titre</td>
        <td>Organisateur</td>
        <td>Duree</td>
        <td>lieu</td>
        <td>description</td>
        <td>image</td>
        <td>nbrParticipant</td>
    </tr>
    {% for e in evenemen %}
    <tr>
        <td>{{e.getDate_event}}</td>
        <td>{{e.titre}}</td>
        <td>{{e.utilisateur}}</td>
        <td>{{e.Durée_Eve}}</td>
        <td>{{e.Lieu_Eve}}</td>
        <td>{{e.Description_Eve}}</td>
        <td>{{e.Image}}</td>
        <td>{{e.nbr_participant}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
