{# empty Twig template #}

{% extends "SmartBookLecteurBundle::layout2.html.twig" %}

{% block contenu %}
    <center>
    <form method="POST" action=""> 
   
        <table border="0" cellpadding="15">
   <tr>
       <td><label><b>Date_evenement</b></label></td>
       <td><input type="date" name="date_evenement" required/></td>
   </tr>
   <tr>
       <td><label><b>Titre</b></label></td>
       <td><input type="text" name="titre"  value="{{e.getTitre()}}" required/></td>
   </tr>
   
   <tr>
       <td><label><b>Duree</b></label></td>
       <td><input type="number" name="Duree" required/></td>
       <td>Minutes</td>
   </tr>
   <tr>
       <td><label><b>Lieu</b></label></td>
       <td><input type="text" name="lieu" value="{{e.getLieuEve()}}" required/></td>
   </tr>
   <tr>
       <td><label><b>Description</b></label></td>
       <td><textarea name="description" required>{{e.getDescriptionEve()}}</textarea></td>
   </tr>
   <tr>
       <td><label><b>Image<b></label></td>
       <td><input type="file" name="image" style="width:310px" required/></td>
   </tr>
  
   <tr>
       <td align="left">
           <input type='submit' value="Modifier" style="width:130px"/>
           
       </td>
   </tr>
</table>
    </center>       
    {% endblock %}